VITE_VEREIN_NAME="Musterverein e.V."
VITE_VEREIN_STRASSE="Musterstraße 1"
VITE_VEREIN_PLZ="12345"
VITE_VEREIN_ORT="Musterstadt"
VITE_VEREIN_VORSTAND="Max Mustermann"
VITE_VEREIN_EMAIL="kontakt@musterverein.de"
VITE_VEREIN_REGISTERGERICHT="Amtsgericht Musterstadt"
VITE_VEREIN_REGISTERNUMMER="VR 12345"
